[Interface]
Address = {{ wg_ip }}/32
PrivateKey = {{ private.content | b64decode | trim }}
{% if private_net is not defined %}
ListenPort = {{ wireguard_port }}
{% endif %}

{% for node in play_hosts %}
{% if inventory_hostname != hostvars[node]['inventory_hostname'] %}
{% if not (private_net is defined and 'private_net' in hostvars[node]) %}
[Peer]
PublicKey = {{ hostvars[node].public.content | b64decode | trim }}
AllowedIPs = {{ hostvars[node].wg_ip }}/32{% if 'wg_router' in hostvars[node] %},{{ hostvars[node]['private_ips']}}{% endif %}

{% if 'private_net' not in hostvars[node] %}
Endpoint = {{ hostvars[node]['ansible_host'] }}:{{ wireguard_port }}
{% endif %}
PersistentKeepalive = {{ PersistentKeepalive }}
{% endif %}
{% endif %}

{% endfor %}

{% if wg_router is defined %}
{% if wireguard_additional_peers  %}
{% for node in wireguard_additional_peers %}
[Peer]
PublicKey = {{ node.key }}
AllowedIPs = {{ node.wg_ip }}
PersistentKeepalive = {{ PersistentKeepalive }}

{% endfor %}
{% endif %}
{% endif %}