[Interface]
{% if wg_ip %}
Address = {{ wg_ip }}/32
{% endif %}
PrivateKey = {{ private.content | b64decode | trim }}
{% if wireguard_post_up %}
PostUp = {{ wireguard_post_up }}
{% endif %}
{% if wireguard_post_down %}
PostDown = {{ wireguard_post_down }}
{% endif %}
{% if ansible_host and not "192.168" in ansible_host %}
ListenPort = {{ wireguard_port }}
{% endif %}
{% if wireguard_mtu is defined %}
MTU = {{ wireguard_mtu }}
{% endif %}

{% for node in play_hosts %}
{% if inventory_hostname != hostvars[node]['inventory_hostname'] %}
[Peer]
PublicKey = {{ hostvars[node].public.content | b64decode | trim }}
AllowedIPs = {{ hostvars[node].wg_ip }}/32
{% if 'ansible_host' in hostvars[node] and not "192.168" in hostvars[node]['ansible_host'] %}
Endpoint = {{ hostvars[node]['ansible_host'] }}:{{ wireguard_port }}
{% endif %}
PersistentKeepalive = {{ PersistentKeepalive }}
{% endif %}

{% endfor %}