#!/bin/bash
{% for node in play_hosts %}
{% if inventory_hostname != hostvars[node]['inventory_hostname'] %}

ping -c 1 {{ wireguard_base_host }}{{ hostvars[node].wg_num }}
if [ $? -ne  0 ]; then
    echo "problem connecting to ip: {{ wireguard_base_host }}{{ hostvars[node].wg_num }} ({{ hostvars[node]['inventory_hostname'] }}) from {{ inventory_hostname }}"
    exit 1
fi

{% endif %}
{% endfor %}