#!/bin/bash
failed=0
{% for node in play_hosts %}
{% if inventory_hostname != hostvars[node]['inventory_hostname'] %}

ping -c 1 {{ wireguard_base_host }}{{ hostvars[node].wg_num }}
if [ $? -ne  0 ]; then
    failed=1
fi

{% endif %}
{% endfor %}
exit $failed