{% set comma = joiner(",") %}
{% for node in play_hosts -%}
{% if inventory_hostname != hostvars[node]['inventory_hostname'] %}
{% if 'private_net' in hostvars[node] %}{{ comma() }}{{ hostvars[node].wg_ip }}/32{% endif %}
{% endif %}
{% endif %}
{%- if wireguard_additional_peers -%}
{% for node in wireguard_additional_peers -%}{{ comma() }}{{ node.wg_ip }}/32{%- endfor %}
{% endif %}
